body {
  font-family: fantasy;
  background-color: #34495e;
  color: #ecf0f1;
}
.jumbotron h1 {
  color: #34495e;
}

.btn {
  background-color: #ecf0f1;
  color: #34495e;
}
select {
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.col-sm-6 {
  text-align: center;
}
.col-sm-4 {
  text-align: center;
}
.japan, .london, .newzealand, .hawaii {
  display: none;
}

.japan {
  text-align: center;
}

.japanstyle {
  background-color: #c0392b;
  color: #ecf0f1;
}

.london {
  text-align: center;
}

.londonstyle {
  background-image: url(../img/londonflag.jpg);
  background-size: fit;
}

.londonjumbo {
  background: rgba(0, 0, 245, 0.5);
}

.londonjumbo h1 {
    color: #ecf0f1;
 }

.londonfooter {
  background: rgba(0, 0, 245, 0.5);
}
.newzealand {
  text-align: center;
}

.newzealandstyle {
  background-image: url(../img/newzealandbackground.jpg);
}

.hawaii {
  text-align: center;
}

.hawaiistyle {
  background-image: url(../img/hawaiibackground.jpg);
}

.hawaiijumbo {
  background: rgba(245, 245, 245, 0.5);
}

.hawaiijumbo h1 {
    color: #34495e;
 }

 .hawaiijumbo h3 {
     color: #34495e;
  }

footer {
  text-align: center;
}
